name: Java CI

on: 
  push:
    branches:
      - self-hosted
  

jobs:
  build:

    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Compile with Maven
      run: mvn compile
    - name: Code Review with Maven
      run: mvn pmd:pmd
    - name: Testing with Maven
      run: mvn test  
    - name: CoverageChecks with Maven
      run: mvn cobertura:cobertura -Dcobertura.report.format=xml  
    - name: Build with Maven
      run: mvn package
  aritifacts:             
    name: Publish Maven Artifacts
    runs-on: ubuntu-latest
    needs: [build]
    
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Publish artifact on GitHub Packages
        run: mvn deploy
        env:
         GITHUB_TOKEN: ${{secrets.sandesh}}  #npm_token
      
